@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Die Role löschen";
}
@Html.ActionLink("Zurück zu den Benutzer-Roles", "Index", null, new { @class = "btn btn-warning", @style = "color:white" }) | @Html.ActionLink("Zurück zu den Entitäten", "Index", "Management", null, new { @class = "btn btn-danger", @style = "background-color:#884dff" })
<br />
<br />
<h4>Die Role wirklich löschen?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <p><strong>@Html.DisplayFor(model => model.Name)</strong></p>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Löschen" class="btn btn-danger" /> 
        </div>
    }
</div>
