@model IEnumerable<Sharpness.WebApp.Models.Sharpness_Persistence.Sharpness_Entities.Tissue>

@{
    ViewBag.Title = "Gewebearte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Eine neue Gewebeart hinzufügen + ", "CreateNewTissue", null, new { @class = "btn btn-success" }) | @Html.ActionLink("Zurück zu den Entitäten", "Index", null, new { @class = "btn btn-danger", @style = "background-color:#884dff" })

</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-5">
            <table class="table">

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td style="width:20%">
                            @Html.ActionLink("Löschen", "DeleteTissue", new { Name = item.Name }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>
        </div>

    </div>
</div>
