@{
    ViewBag.Title = "Emailbestätigung";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2>@ViewBag.Title.</h2>
<div>
    
                @*
                Danke für die Bestätigung @Html.ActionLink("Clicken hier um sich anzumelden bei der App", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                *@

    <h3>Danke für die Email-Bestätigung</h3>
    <p>Ihr Konto muss durch den Administrator freigegeben werden.</p> 
    <p>Sie erhalten von uns die weiteren Instruktionen so schnell wie möglich per Email.</p>
</div>
