@{
    ViewBag.Title = "Emailbestätigung";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Danke für die Bestätigung @Html.ActionLink("Clicken hier um sich anzumelden bei der App", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
