@{
    ViewBag.Title = "Wirklich Passwort vergessen?";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Bitte prüfen Sie ihre Email an!
    </p>
</div>

