@{
    ViewBag.Title = "Passwort zurücksetzen. Bestätigung";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Ihres Passwort wurde zurückgesetzt. Bitte click hier um sich  @Html.ActionLink("anzumelden", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
