@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "Delete";
}


@Html.ActionLink("Zurück zu den Benutzern", "Index", null, new { @class = "btn btn-warning", @style = "color:white" }) | @Html.ActionLink("Zurück zu den Entitäten", "Index", "Management", null, new { @class = "btn btn-danger", @style = "background-color:#884dff" })
<br />
<br />
<h4>Den Benutzer wirklich löschen?</h4>

<div>
    <dl class="dl-horizontal">
      <p><strong> Username: </strong>@Html.DisplayFor(model => model.UserName)</p>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
        </div>
    }
</div>
